.App {
  text-align: center;
  
    
}

img{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 250px;

}

.logoimg {
  width:100%;
  height: 350px;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}


/*se usa el classname para identificar la clase */

.logoFillo {
  text-align: left;
  background-color: lightgray;
  padding: 20px;
  margin-top: 0;
  border-radius: 10px; 
  width: 100%;
  
  margin-left: auto;
  margin-right: auto;
  
}

.footerfillo{
  text-align: center;
  background-color: black;
  padding: 20px;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  height: 100px;
  bottom: 0px;
  top: 30px;
  left: 0px;
  position: fixed;
  font-style: normal;
  color: white;
  
  

}


.song{
  
  background-color: lightskyblue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; 
  width: 25%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.conciertos{
  float:right;
  background-color: lightgreen;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 10px; 
  width: 20%;
  height: auto; 
  margin-right: 10px;
  padding-bottom: 10px;
  
}

.contenedor{
  float: left;
  background-color: lightcoral; 
  border-radius: 10px; 
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 100%;
  

}

.contenedorsongs{
  float: right;
  background-color: lightblue; 
  border-radius: 10px; 
  width: 100%;
  height: 20%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;

}

.tirafotos{
  float: right;
  background-color: black; 
  border-radius: 10px; 
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 10px;
  padding: 20px;
  


}